body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    color: #4b0082;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 99%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #333;
}

.car-list {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.car-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: border 0.3s ease;
}

.car-item .car-model, .car-item .car-price {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #9500ff;
    border-radius: 5px;
}

.car-item.selected {
    border: 2px solid #4b0082;
    background-color: #f0f0f0;
    cursor: pointer;
}

.car-item span {
    font-size: 18px;
    font-weight: bold;
}